openapi: 3.0.1
info:
  title: Wikipedia Retrieval ENG
  description: >-
    It is an API that provides the user with a Wikipedia article based on the input keyword. Refer to this link for the full list of Wikipedias - <u>https://meta.wikimedia.org/wiki/List_of_Wikipedias</u><br><br><b>Authentication</b>:<br><br>Authentication is done using the x-api-key in the request header.
  version: '0.1'
servers:
  - url: 'https://apis.sentient.io'
tags:
- name: "v0.1"
  description: "Published Date - Mar 27, 2020"
paths:
  /microservices/utility/wikipedia/v0.1/getresults:
    post:
      tags:
        - v0.1
      responses:
        '200':
          description: success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentrequired'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notfound'
        '419':
          description: Input Field Missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inputfieldmissing'
        '420':
          description: Input Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inputlimitexceeded'       
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servererror'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewaytimeout'
      security:
        - APIAuthorizer: []
      requestBody:
        description: <b>Input parameters</b><br><br><table class="inputtable" style="width:100%;border:1px solid grey"><tr><th style="width:15%;"><b>Field</b></th><th style="width:15%;"><b>Type</b></th><th style="width:70%;"><b>Description</b></th></tr><tr><td><b>title</b><br><br>OR<br><br><b>pageid</b></td><td>String<br><br><br><br>Integer</td><td>Required. The search term, highest match to the title of the Wikipedia page.<br><br><br><br>Required. The Wikipedia id of the page requested.</td></tr><tr><td>language</td><td>String</td><td>Indicates the language in which the Wikipedia page is written. Default is English, for other languages give the input as ISO 639-1 language code</td></tr><tr><td>filter_key</td><td>String</td><td>Indicates the filter criteria of the output result fields. The default return set includes pageid, url, and summary.<br>“all” - returns all the fields. You can also filter by individual fields using the list value. Possible  values are <br>pageid, url, summary, content, links, and images</td></tr></table><br><br>
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/input'
        required: true
components:
  schemas:
    success:
      type: object
      properties:
        results:
          type: object
          properties:
            content:
              type: string
              example: "Singapore officially the Republic of Singapore, is a sovereign city-state and island country located in maritime Southeast Asia. 
                Singapore lies about one degree of latitude (137 kilometres or 85 miles) north of the equator."
              description: Plain text content of the page, excluding images, tables, and other data.
            images:
              type: array
              items:
                oneOf:
                - type: string
                  format: list
                  example: https://upload.wikimedia.org/wikipedia/commons/f/f5/0008871_-_Krung_Thep_Bridge_001.jpg
                - type: string
                  format: list
                  example: https://upload.wikimedia.org/wikipedia/commons/1/12/2014_Singapore_Products_Export_Treemap.png
                - type: string
                  format: list
                  example: https://upload.wikimedia.org/wikipedia/commons/1/1b/2017_G20_Hamburg_summit_leaders_group_photo.jpg
                - type: string
                  format: list
                  example: https://upload.wikimedia.org/wikipedia/commons/1/10/A_Night_Perspective_on_the_Singapore_Merlion_%288347645113%29.jpg
            links:
              type: array
              items:
                oneOf:
                - type: string
                  format: list
                  example: +65
                - type: string
                  format: list
                  example: .sg
                - type: string
                  format: list
                  example: 126 Squadron, Republic of Singapore Air Force
                - type: string
                  format: list
                  example: 13th Parliament of Singapore
                - type: string
                  format: list
                  example: 16th Summit of the Non-Aligned Movement
                - type: string
                  format: list
                  example: 1915 Singapore Mutiny
            pageid:
              type: integer
              example: 27318
              description: The id of the page requested
            summary:
              type: string
              example: Singapore officially the Republic of Singapore, is a sovereign city-state and island country located in maritime Southeast Asia. 
                  Singapore lies about one degree of latitude (137 kilometres or 85 miles) north of the equator.
              description: A short summary of the Wikipedia article that was requested
            url: 
              type: string
              example: https://en.wikipedia.org/wiki/Singapore
              description: The website url of the requested wikipedia articles
        message:
          type: string
          example: Successfully Processed
          description: Detail description on the API status
        status:
          type: string
          example: Success
          description: The status of the API call success/failure
    unauthorized:
      type: object
      properties:
        message:
          type: string
          example: Missing Authentication Token
        status:
          type: string
          example: Failure
    forbidden:
      type: object
      properties:
        message:
          type: string
          example: Access Denied Unauthorized User
        status:
          type: string
          example: Failure
    paymentrequired:
      type: object
      properties:
        message:
          type: string
          example: Insufficient Credits Kindly Top Up
        status:
          type: string
          example: Failure
    notfound:
      type: object
      properties:
        message:
          type: string
          example: Invalid Request URL
        status:
          type: string
          example: Failure
    servererror:
      type: object
      properties:
        message:
          type: string
          example: Internal Server Error
        status:
          type: string
          example: Failure
    gatewaytimeout:
      type: object
      properties:
        message:
          type: string
          example: Request Timeout
        status:
          type: string
          example: Failure
    inputfieldmissing:
      type: object
      properties:
        message:
          type: string
          example: Input Field Missing
        status:
          type: string
          example: Failure
    inputlimitexceeded:
      type: object
      properties:
        message:
          type: string
          example: Input Limit Exceeded
        status:
          type: string
          example: Failure      
    input:
      type: object
      properties:
        title:
          type: string
          example: Singapore
        pageid: 
          type: integer
        language:
          type: string
        filter_key:
          type: string
  securitySchemes:
    APIAuthorizer:
      type: apiKey
      name: x-api-key
      in: header
      x-amazon-apigateway-authtype: custom